.menuItemsList {
	padding: 0 20px;
}
.closeButton {
  background-color: var(--greyD9);
  padding: 12px 23px;
  border-radius: 0 0 3px 3px;
  width: 100%;
}

.dropdown {
  position: absolute;
  right: 0;
  top: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  background-color: var(--white);
  z-index: 1;
}
  .menuItem {
	padding: 12px 0;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
  }
  .menuItem > svg + span {
	margin-left: 7px;
  }
  
  .divider {
	height: 1px;
	width: 100%;
	background-color: var(--greyEC);
  }
  @media all and (max-width: 1024px) {
    .visible {
      display: none;
    }
  }
  .container {
    width: 100%;
    flex: 1 1 0%;
}

.listContainer {
    position: relative;
}

.list {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
  