.modal {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    z-index: 1000;
    overflow: hidden;
    background: #FFFFFF;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);
    border-radius: 7px;
    min-width: 500px;
    min-height: 160px;
    max-width: 80%;
    padding: 24px;
    margin: 30px;
    line-height: 17px;
  }
  .title {
line-height: 24px;
  }
  .img {
    padding-left: 25px;
  }
  
  .content {
    max-width: 80%;
    justify-content: center;
  }
  
  .close {
    align-self: flex-end;
    width: 40px;
    height: 40px;
    margin: -24px;
    color: #000
  }
  