.commentList {
  margin: 10px;
  padding: 10px;
  list-style: none;
  border-left: 2px solid #b3b3b3;
}
.input {
  height: 30px;
  border: 1px solid #D9D9D9;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 3px 3px 0px 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 2px;
  color: #535252;
  resize: none;
}
.container {
  display: flex;
  flex-direction: column;
}
.commentText{
  padding: 10px;
}
.commentButton{
  font-family: Roboto;
  font-size: 16px;
  margin: 5px;
  color: #999999;
}
.line {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  padding: 5px 0 0 5px;
  margin-bottom: 10px;
}