.actions {
    display: flex;
    flex-flow: row nowrap;
  }
  .actions > * + * {
    margin: 0 0 0 13px;
  }
  
  @media all and (min-width: 1024px) {  
    .actions {
      display: none;
    }
  }
    /* Share button */
  
    .shareButton {
        width: 20px;
        height: 20px;
      }
      
      /* Save button */
      
      .saveButton {
        width: 20px;
        height: 20px;
      }
      