.form {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-size: 10px;
    line-height: 12px;
  }

  .avatar {
    border-radius: 20px;
    width: 20px;
    height: 20px;
    margin: 0 7px 0 0;
  }
  .username {
    color: var(--orange);
    position: relative;
    z-index: 1;
  }
  

  .publishedLabel {
    display: none;
  }
  
  .createdAt, .createdAt span {
    color: var(--grey99);
    margin: 5px;
  }
  @media all and (min-width: 1024px) {
      .form {
      flex-flow: row-reverse nowrap;
      justify-content: flex-end;
      font-size: 14px;
      line-height: 16px;
    }
  
    .publishedLabel {
      display: inline;
    }
  }
    
  