@media all and (min-width: 1024px) {
  .cardsList {
    padding: 40px 0;
  }
}
.buttonMore {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  width: 100px;
  max-width: 50%;
  height: 35px;
  background: #a19d9b;
  border-radius: 3px;
  align-self: flex-end;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
}
.load {
  text-align: center;
  margin: 10px;
}