.is12{
    width: 12;
    height: 12;
}

.is14{
    width: 14;
    height: 14;
}
.is15{
    width: 15;
    height: 15;
}
.is16{
    width: 16;
    height: 16;
}

.icon{
    padding-right: 5px;
    padding-top: 5px;
}